<div ng-controller="ProdutoCtrl" class="container">
    <div class="well" style="height: 70%">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Descricao</th>
                    <th>Tipo</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody ng-repeat="produto in produtos track by $index">
            <tr>
                <td>{{produto.descricao}}</td>
                <td>{{produto.tipo}}</td>
                <td>{{produto.preco}}</td>
            </tr>
            </tbody>
        </table>
        <span class="btn btn-info btn-fab" ng-click="toggleModal()"><i class="material-icons">grade</i></span>
    </div>

    <modal title="Nova Produto" visible="showModal">
        <form class="form-horizontal" ng-submit="criaProduto(produto)">
            <fieldset>
                <div class="form-group">
                    <label for="inputDescricao" class="col-md-2 control-label">Descrição</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="produto.descricao" class="form-control" id="inputDescricao" placeholder="Descrição">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputTipo" class="col-md-2 control-label">Tipo</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="produto.tipo" class="form-control" id="inputTipo" placeholder="Tipo">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPreco" class="col-md-2 control-label">Preço</label>
                    <div class="col-md-10">
                        <input type="number" ng-model="produto.preco" class="form-control" id="inputPreco" placeholder="Preço">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="button" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </modal>
</div>

