<input-field>

    <select class="" ng-model="produto.tamanho" material-select watch>
        <option value="" disabled selected>Tamanho</option>
        <option ng-repeat="option in options">{{option.nome}}</option>
    </select>

    <!--<select ng-options="option as option.nome for option in options track by option.id" ng-model="produto.tamanho"></select>-->
    <!--<select>-->
        <!--<option value="" disabled selected>Tamanho</option>-->
        <!--<option value="P">P</option>-->
        <!--<option value="M">M</option>-->
        <!--<option value="G">G</option>-->
    <!--</select>-->
    <label>Tamanho</label>
</input-field>